.navbar{
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgba(121, 114, 114, 0.3) 50%);

    &.scrolled{
        background: var(--main-color);
    }

    .container{
        padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left{
            display: flex;
            align-items: center;
            img{
                height: 25px;
                margin-right: 40px;
                cursor: pointer;
            }
            span{
                margin-right: 20px;
                cursor: pointer;
                font-size: 14px;
                &:hover{
                    color: chartreuse;   
                }
            }
            
        }

        .right{
            display: flex;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
                border-radius: 25%;
                object-fit: cover;
                cursor: pointer;
            }
            .icon{
                margin: 0px 25px;
                cursor: pointer;
            }

            .dropdown{
                .options{
                    display: none;
                    background-color: var(--main-color);
                    border-radius: 5px;
                    span{
                        padding: 10px;
                        cursor: pointer;
                    }
                }
                &:hover{
                    .options{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                    }
                    span:hover{
                        color: gray;
                    }
                }
            }
        }
        
    }
}